.beat {
	height: 5em;
}
.beat .buy,
.beat .img,
.beat .player {
	display: inline-block;
}
.beat img {
	height: 5em;
	width: 5em;
	top: 0;
}
audio {
}
.modal-body {
	text-align: center;
}
.modal-body td:hover {
	background-color: rgba(150,150,150,0.15);
}