{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>- Alvar Antson - {{ request.path|cut:"/" }}</title>
<meta name="description" content="Alvar Antson's portfolio: instrumentals, music releases, software development, cinematography (videos), photography (photos), contact.">
<meta name=”robots” content="index, follow">
<meta charset="UTF-8">
<meta name="author" content="Alvar Antson">
<meta name="keywords" content="Alvar, Antson, Alvar Antson, beats, instrumentals, trap, rock, Estonia, Eesti, producer, songwriter, produtsent, laulukirjutaja, software, engineer, software engineer, tarkvara, arendaja, tarkvaraarendaja, mix, master, mix/master, vocals, recording, salvestamine, vokaal, räpp, contact, kontakt, videos, photos, cinematography, development, software development, releases, Parabol, SXLTUVUS, sxltuvus, Higher Ground, pop">

<!-- FACEBOOK -->
<meta property="og:title" content="Alvar Antson">
<meta property="og:image" content="{% static 'fb_preview.jpg' %}">


<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<!-- BOOTSTRAP 3 CDN -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<link rel="stylesheet" type="text/css" href="{% static 'all.css' %}">

<link href="https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;600;700&display=swap" rel="stylesheet">

</head>

<body>

<div class="loader">
	<h4>Loading..</h4>
</div>



<nav class="navbar-desktop">
	<a href="/"><span>ALVAR ANTSON</span></a> 
	<a class="main-link" href="/beats">BEATS</a> 
	<a class="main-link" href="/releases">RELEASES</a> 
	{% if request.user.is_authenticated %}
	<a class="main-link" href="/releases/import">IMPORT RELEASES</a> 
	{% endif %}
	{% if request.session.shopping_cart %}
	<a class="main-link cart-link" href="/checkout">CHECKOUT</a> 
	{% endif %}
	<a class="main-link" href="/videos">VIDEO</a> 
	<a class="main-link" href="/code">CODE</a> 
	<a class="main-link" href="/contact">CONTACT</a> 
	 
	<span class="cart">
	{% if request.session.shopping_cart %}
		<span class="glyphicon glyphicon-shopping-cart" id="shopping_cart_desktop" aria-hidden="true"></span>
		<div class="shopping_cart-dropdown hidden">
			<h5>Total: {{ request.session.shopping_cart_total }} €</h5>
			{% for item in request.session.shopping_cart %}
				<h6>
					{{ item.beat_name }} - 
					{{ item.price }} € 
					<a href="/checkout/remove/{{ item.beat_id }},{{ item.lease_id }}">X</a>
				</h6>
			{% endfor %}

			<h6><a class="main-link" href="/checkout/empty">EMPTY CART</a></h6>
		</div>
	{% endif %}
	</span>
</nav>
<div class="col-xs-12 desktop-spacer">.</div>



<nav class="navbar-phone">
	<span class="glyphicon glyphicon-menu-hamburger" id="navbar_phone" aria-hidden="true"></span>
	<a href="/"><span>ALVAR ANTSON</span></a> 
	{% if request.session.shopping_cart %}
	<span class="glyphicon glyphicon-shopping-cart" id="shopping_cart_phone" aria-hidden="true"></span>
	{% endif %}
</nav>
<div class="navbar-phone-selector hidden">
	<div class="col-xs-12 nav-menu"> 
		<h3>
			<a href="/">FRONT PAGE</a> <br><br> 
			<a href="/beats">BEATS</a> <br><br> 
			<a href="/releases">RELEASES</a> <br><br> 
			{% if request.user.is_authenticated %}
			<a href="/releases/import">IMPORT RELEASES</a> <br><br> 
			{% endif %}
			<a href="/videos">VIDEO</a> <br><br>
			<a href="/code">CODE</a> <br><br>
			<a href="/contact">CONTACT</a> <br><br> 
			{% if request.session.shopping_cart %}
			<a href="/checkout">CHECKOUT</a> <br><br> 
			{% endif %}
		</h3>
	</div>
</div>
<div class="shopping_cart-phone hidden">
	<div class="col-xs-12 nav-menu"> 
		<h3>Total: {{ request.session.shopping_cart_total }} €</h3>
		<br>
		<table class="table table-borderless">
			{% for item in request.session.shopping_cart %}
			<tr>
				<td class="text"><b>{{ item.beat_name }}</b></td>
				<td class="text">{{ item.name }}</td>
				<td class="text">{{ item.price }} €</td>
				<td scope="row"><a class="remover" href="/checkout/remove/{{ item.beat_id }},{{ item.lease_id }}">X</a></td>
			</tr>
			{% endfor %}
		</table>
		<br><br>
		<h3><a href="/checkout/empty">EMPTY CART</a></h3>
		<br>
		<h3><a href="/checkout">CHECKOUT</a></h3>
	</div>
</div>
<div class="col-xs-12 phone-spacer">.</div>