.main {
	margin-top: 4em;
}
h2 {
	text-align: center;
	margin-bottom: .25em;
}
hr {
	margin-top: 0;
	border-top: solid 1px var(--dark);
	opacity: 0.5;
}
.desktop-spacer {
	display: none;
}
.phone-spacer {
	display: none;
}
.intro {
	margin-top: 0;
	height: 95vh;
	text-align: center;
	background: no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	z-index: 2;
}
.topper {
	z-index: 9999999999999999999999999999999999999;
}
.intro h1{
	margin-top: 42.5vh;
	color: var(--white);
	font-weight: 700;
	letter-spacing: 0.3em;
	font-size: 4em;
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.intro h2{
	color: var(--white);
	text-shadow: 2px 2px rgba(0,0,0,0.5);
}
.intro h2 span{
	color: var(--white);
	opacity: 0;
}
.social {
	width: 2.5em;
	margin-left: .25em;
	margin-right: .25em;
	margin-top: 2em;
}
.intro .glyphicon {
	color: var(--white);
	position: absolute;
	font-size: 4vw;
	text-align: center;
	height: 1em;
	margin-top: 85vh;
	text-shadow: 0px 4px rgba(0,0,0,0.5);
	cursor: pointer;
}


.beats {
	margin-top: 10vh;
	border-radius: 1em;
}
.item {
	padding: 2em 2em 2em 2em;
}
.item img {
	width: 100%
}

.releases {
	margin-top: 10vh;
	margin-bottom: 10vh;
}
table tr,
table td {
	border-top: none !important;
	text-align: center !important;
}
.td-img img {
	width: 2em;
}



.phone {
	margin-top: 10em;
}
.phone h2 {
	font-size: 4em;
}
.phone h3 {
	font-size: 3em;
}
.phone ul,
.phone p {
	font-size: 3em;
}
.phone .social {
	margin-top: 5em;
}
.phone tr,
.phone td {
	font-size: 24px;
}
