.admin-button button {
	font-size: 1.5em;
	padding: 0.3em 0.6em 0.3em 0.6em;
}
table {
	background-color: var(--white);
}
table img {
	width: 2em;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
table .min-width {
	max-width: 6em;
	width: auto;
	padding-left: 2px !important;
	padding-right: 2px !important;
}
.righty {
	float: right;
}
td a {
	cursor: pointer;
}
table input {
	width: 12em;
}
.th-form {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.th-form input,
.th-form button {
	padding-top: 5px;
	padding-bottom: 5px;
}
.centered {
	text-align: center;
}
th,
table {
	text-align: center;
}
tr:hover {
	background-color: rgba(150,150,150,0.2) !important;
}
.td-img {
	padding-top: 5px !important;
	padding-bottom: 5px !important;
	padding-left: 2px !important;
	padding-right: 2px !important;
}
button,
input {
	font-size: 1em;
	padding: 0.1em 0.1em 0.1em 0.1em;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
	text-align: center;
}
.navbar-desktop .glyphicon-shopping-cart {
	right: 1.5em !important;
}
.pop-up .content {
	padding-left: .5vw;
	padding-right: .5vw;
}

.table-phone {
	margin-top: 2.2em;
	font-size: 2em;
}