{% load static %}
{% include "navbar/navbar.html" %}
<link rel="stylesheet" type="text/css" href="{% static 'checkout.css' %}">

<div class="col-xs-12 main">
<script type="text/javascript">
	if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
		$(".main").toggleClass("phone");
	}
</script>


{% if request.session.shopping_cart.0 %}
<div class="col-xs-12 col-md-6 shopping-cart">
	<h2>SHOPPING CART</h2>
	<div class="col-xs-1"></div>
	<div class="col-xs-10">
		<table class="table table-borderless">
			{% for item in request.session.shopping_cart %}
			<tr>
				<td class="text"><b>{{ item.beat_name }}</b></td>
				<td class="text">{{ item.name }}</td>
				<td class="text">{{ item.price }} €</td>
				<td scope="row"><a class="remover" href="/checkout/remove/{{ item.beat_id }},{{ item.lease_id }}">X</a></td>
			</tr>
			{% endfor %}
		</table>
	</div>
	<div class="col-xs-1"></div>
	
	
	<div class="col-xs-12 col-md-2"></div>
	<div class="col-xs-12 col-md-8 total">
		<h3>Total: {{ request.session.shopping_cart_total }} €</h3>
	</div>
	<div class="col-xs-12 col-md-2"></div>
</div>
<div class="col-xs-12 col-md-6 buyer-info">
	<h2>BUYER INFO:</h2>
	<form action="{% url 'charge' %}" method="POST">{% csrf_token %}
		<input onchange="form_checker()" id="buyer_first_name" type="text" name="buyer_first_name" placeholder="First name" required><br>
		<input onchange="form_checker()" id="buyer_last_name" type="text" name="buyer_last_name" placeholder="Last name" required><br>
		<input onchange="form_checker()" id="buyer_artist_name" type="text" name="buyer_artist_name" placeholder="Artist name" required><br>
		<input onchange="form_checker()" id="buyer_email" type="email" name="buyer_email" placeholder="email@email.com" required><br>
		<input onchange="form_checker()" id="buyer_address" type="text" name="buyer_address" placeholder="Street st 1." required><br>
		<h5>
			None of your personal info will be saved except your email (if you check the box below)!<br>
			Your personal info will only be used for receipt & license generating!<br>
		</h5>

		<label><input onchange="form_checker()" id="mail_list" type="checkbox" name="mail_list"> <sup> Want new beats delivered to your email?</sup></label><br>
		<label><input onchange="form_checker()" id="license" type="checkbox" required> <sup>I have seen the license template & agree with it.</sup></label><br>

		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
			data-key="{{ stripe_public_key }}"
			data-description="Alvar Antson beats"
			data-amount="{{ request.session.shopping_cart_total_int }}"
			data-locale="auto">
		</script>
		<h3 onclick="pop_up('pop-up-{{ beat.beat.id }}')">View license template</h3>
		
		<script type="text/javascript">
			$(".stripe-button-el").attr("disabled","");
			function form_checker() {
				if (
					$("#buyer_first_name").val() != "" && 
					$("#buyer_last_name").val() != "" && 
					$("#buyer_artist_name").val() != "" && 
					$("#buyer_email").val() != "" && 
					$("#buyer_address").val() != "" &&

					$("#license").is(':checked') 
					) {
					$(".stripe-button-el").removeAttr("disabled");
				} else {
					$(".stripe-button-el").attr("disabled","");	
				} 
			}
			
		</script>
	</form>
</div>

<div class="pop-up hidden" id="pop-up-{{ beat.beat.id }}">
	<div class="backdrop" onclick="pop_up('pop-up-{{ beat.beat.id }}')"></div>
	<div class="col-xs-1 col-ms-2"></div>
	<div class="col-xs-10 col-ms-8 content">
		<h2>License template</h2>
		<p>{{ license|safe }}</p>
	</div>
	<div class="col-xs-1 col-ms-2"></div>
</div>
{% else %}
<h3 class="cart_empty">Shopping cart empty..</h3>
{% endif %}



</div>
{% include "navbar/footer.html" %}